* {
    padding: 0px;
    margin: 0px;
}

body,html {
    background-color: #fff;
}

#contenedor {
    width: 100%;
    margin: auto;
    padding: 5px;
}

header {
   width: 100%;
   height: 6em;
   background-color: #f7e815fd;
   font-family: Arial, Helvetica, sans-serif;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   padding-top: 60px;
   text-align: center;
   color: #000;
   font-size: 20px;
}

nav {
    width: 100%;
    height: 5em;
    background-color: #FF696A;
    text-align: center;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    font-size: 20px
    
}

nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

nav li {
    display: inline-flex;
    padding-top: 10px;
}

nav ul{
list-style: none;
overflow: hidden;
}

nav ul li a{
display: block;
padding: 20px;
Color: #fff;
text-decoration: none;
}

nav ul li :hover{
background: #fff;
}

section {
    width: 100%;
    height: 85em;
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

article {
    width: 80%;
    height: 22em;
    background-color: #f7e815fd;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 80;
    display: flex;
    color: #000;
    transform: translate(10%, 10%);
}



.contacto-info {
    width: 45%;
    height: 35em;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
}

.contacto-imagen {
    width: 50%;
    height: 10em;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
    transform: translate(0%, 10%);
}

.contacto-imagen img {
    width: 90%;
    height: 8em;
    
    
    
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
    height: 4em;
    font-size: 20px;
    background-color: #FF696A;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
}